
.progress {
    border-radius: 0;
    margin-bottom: 0;
}
.progress span{
    font-weight: bold;
}
.table-hover > tbody > tr:hover {
    background-color: inherit;
}

.panel {
    margin-bottom: 9px;
}

.label {
    float: right;
    font-weight: normal;
    cursor: pointer; cursor: hand;
}
.panel-body {
    padding: 4px 0px 0px 14px;
}

.box {
    display: block;
    float: left;
    margin-top: 6px;
}
.nprogress {
    margin-top: -8px;
    margin-right: 6px;
    float: right;
}

.label:hover {
}

.panel-default {
    border-color: #2780e3;
}

.offline {
    opacity: 0.5;
}

.page-header {
    padding-bottom: 0;
    margin: -12px 0 11px;
    border-bottom: 1px solid #e6e6e6;
}

.colorless {
    filter: grayscale(75%);
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    cursor: pointer;
}

.label-info {
    font-weight: bold;
    background-color: #555555;
}
.nprogress {
    margin-top:-2px;
}