<!doctype html>
<title>Phoenix Scraping</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='jquery-2.2.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
<div class="container">
  <div class="col-md-12">
    <div class="col-md-12">

    <div class="page-header">
       {% if not session.logged_in %}
        <a class="pull-right btn btn-default" href="{{ url_for('login') }}">Log In</a>
      {% else %}
      <a class="pull-right btn btn-default" href="{{ url_for('logout') }}">Log Out</a>
      {% endif %}
          <h1 id="navbar">PHOENIX </h1>
        </div>

    </div>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
