{% extends "layout.html" %}
{% block body %}

<div class="col-md-12 scrapers">

                {% for scraper in scrapers %}
                <div class="col-md-6 {% if not scraper.alive %}colorless{% endif %}">

                <div class="panel panel-{% if scraper.status_color == 'active'%}default{%else%}{{scraper.status_color}}{%endif%}">
                    <div class="panel-body">
                        <div class="box">
                            <b>{{ scraper.name | upper }}</b> <small>{{ scraper.status_name }}</small>
                            {% if scraper.alive %}
                            {{scraper.cpu}}% {{ scraper.memory }}%
                            {% endif %}

                        </div>
                        <span class="nprogress"><b>{{scraper.nvideos}} / {{scraper.total_nvideos}}</b></span>
                        <br>
                        {% if scraper.alive %}
                            {% if scraper.status == 1 %}
                                <span class="label label-{% if scraper.order == 'start' %}info porder{%else%}default order{%endif%}" data-scraper="{{scraper.name}}"
                                      onclick="{% if scraper.order == 'start' %}p{%endif%}order(this);"
                                >START</span>
                            {% elif scraper.status == 2 %}
                                <span class="label label-{% if scraper.order == 'stop' %}info porder{%else%}default order{%endif%}" data-scraper="{{scraper.name}}"
                                onclick="{% if scraper.order == 'stop' %}p{%endif%}order(this);"
                                >STOP</span>

                                <span class="label label-{% if scraper.order == 'pause' %}info porder{%else%}default order{%endif%}" data-scraper="{{scraper.name}}"
                                      onclick="{% if scraper.order == 'pause' %}p{%endif%}order(this);"
                                >PAUSE</span>
                            {% elif scraper.status == 3 %}
                                <span class="label label-{% if scraper.order == 'stop' %}info porder{%else%}default order{%endif%}" data-scraper="{{scraper.name}}"
                                      onclick="{% if scraper.order == 'stop' %}p{%endif%}order(this);"
                                >STOP</span>
                                <span class="label label-{% if scraper.order == 'resume' %}info porder{%else%}default order{%endif%}" data-scraper="{{scraper.name}}"
                                      onclick="{% if scraper.order == 'resume' %}p{%endif%}order(this);"
                                >RESUME</span>
                            {% endif %}
                            <span class="label label-{% if scraper.order == 'unload' %}info porder{%else%}default order{%endif%}" data-scraper="{{scraper.name}}"
                                  onclick="{% if scraper.order == 'unload' %}p{%endif%}order(this);"
                            >UNLOAD</span>
                        {% else %}
                            <span class="label label-default order" data-scraper="{{scraper.name}}"
                                  onclick="{% if scraper.order == 'load' %}p{%endif%}order(this);"
                            >LOAD</span>
                        {% endif %}
                    </div>
                        <div class="progress {% if scraper.status_name == 'runningDISABLED' %}progress-striped active{% endif %}">
                            <div class="progress-bar progress-bar-{{scraper.status_color}}" style="width: {{scraper.progress}}%">
                            </div>
                          </div>

                </div>
                </div>
                {% endfor %}

</div>
{% endblock %}
